<%- include('header')%>

  <h1>signup</h1>
  <form action="/signup" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="******" name="password">
    <button>signup</button>
  </form>

  <a href="/signin">signin</a>

<%- include('footer')%>
